@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    

}

.container{
    background: linear-gradient(90deg, #03045e, #023e8a, #0077b6, #00b4d8, #48cae4, #00b4d8, #0077b6, #023e8a);
    background-size: 40%;
    height: 100vh;
    font-family: 'Mukta', sans-serif;
    animation: animate 10s linear infinite;
}

.container-videos{
    background: linear-gradient(90deg, #590d22, #a4133c, #d00000, #ff4d6d);
    background-size: 40%;
    height: 100vh;
    font-family: 'Mukta', sans-serif;
    height: 100vh;
    font-family: 'Mukta', sans-serif;
    animation: animate 10s linear infinite;
}

.container-stickers{
    background: linear-gradient(90deg, #1b4332, #2d6a4f, #40916c, #52b788, #95d5b2);
    background-size: 40%;
    height: 100vh;
    font-family: 'Mukta', sans-serif;
    animation: animate 10s linear infinite;
}

.container-projects{
    background: linear-gradient(90deg, #240046, #3c096c, #5a189a, #7b2cbf, #c77dff);
    background-size: 40%;
    height: 100vh;
    font-family: 'Mukta', sans-serif;
    animation: animate 10s linear infinite;
}


.container .navbar{
    width: 100%;
    height: 80px;
   
}

.navbar .right ul li{
    list-style: none;
    float: right;
}

.navbar .right ul li a{
    text-decoration: none;
    margin: 0 30px;
    line-height: 80px;
    color: white;
    /* navbar text colorı */
    text-transform:uppercase;
    opacity: .5;
    
    
}

.navbar .logo{
    line-height: 80px;
    color: white;
    font-style:italic;
    font-size: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-right: 300px;
    text-decoration: none;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}


.navbar .left ul li{
    list-style: none;
    float: left;
    
}

.navbar .left ul li a{
    text-decoration: none;
    margin: 0 20px;
    line-height: 80px;
    color: rgb(255, 255, 255);
    /* navbar text colorı */
    text-transform:uppercase;
    
    
    
}

@keyframes animate {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 400%;
	}
}

.navbar .right ul li a:hover{
    opacity: 1;
}

.container .menu .menu-text{
    color: white;
    font-size: 8vh;
    margin-left: 70vh;
    margin-top: 30vh;
}

.container .menu .menu-text-2{
    color: white;
    font-size: 8vh;
    margin-left: 70vh;
    


}

